:root {
    --heading-font: 'Outfit', sans-serif;
    --main-font: 'Inter', sans-serif;
    --color-background: #DDDDDD;
    --color-light: #FEFEFE;
    --color-dark: #1A1D1C;
}

html,
body {
    height: 100%;
}

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    color: var(--color-dark);
    font-family: var(--main-font);
    font-size: 2.2rem;
    font-weight: 400;

}

.page-container {
    height: 100%;
    max-height: 100vh;
    width: 100vw;
    max-width: 192rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 6rem 6rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0;
}

.logo-image {
    width: 100%;
    max-width: 27.3rem;
    height: auto;
}

button {
    border-radius: 2.9rem;
    padding: 1.8rem 2.7rem;
    font-family: var(--heading-font);
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 2.25rem;
}

.btn-contact {
    background: var(--color-dark);
    border: 0.2rem solid var(--color-dark);
    color: var(--color-light)
}

.btn-contact:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
    border: 0.2rem solid var(--color-dark);
}

.btn-info {
    background-color: transparent;
    border: 0.2rem solid var(--color-dark);
}

.btn-info:hover {
    background: var(--color-dark);
    color: var(--color-light);
}

a.projects,
a.highlights {
    text-decoration: none;
}

/* .projects .btn-info {
    border: none;
} */

.setups .btn-info {
    border-color: var(--color-light);
}

.main-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    gap: 2rem;
}

.info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3.5rem;
    padding: 3rem;
    transition: transform .2s;
}

.description:hover,
.projects:hover,
.setups:hover,
.catalog:hover,
.highlights:hover,
.work:hover {
    transform: scale(1.03);
    z-index: 998;
}

/* a.projects:visited,
a.highlights:visited {
    transform: scale(1);
} */

.info-block-white {
    background-color: var(--color-light)
}

.info-block-black {
    background-color: var(--color-dark)
}

.info-block-image {
    filter: grayscale(100%);
}

.info-block-image:hover {
    filter: grayscale(0%);
}

.header {
    font-family: var(--heading-font);
    font-size: 5.8rem;
    font-weight: 600;
    margin-bottom: 2rem;
    line-height: 83%;
}

.projects {
    background-image: url(./images/Rectangle\ 1.png);
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
}

.projects .lightning {
    height: 11.3rem;
    padding: 1.8rem 2.7rem;
}

.setups .header,
.highlights .header,
.projects .header {
    color: var(--color-light);
}

.description .info-block-btn-container,
.projects .info-block-btn-container,
.catalog .info-block-btn-container {
    text-align: end;
}

.setups .info-block-btn-container,
.work .info-block-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.setups-catalog-block.info-block {
    padding: 0;
}

.setups .info-block-btn-container img {
    max-height: 25.8rem;
}

.setups-catalog-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
    gap: 2rem;
}

.highlights {
    background-image: url(./images/Rectangle\ 5.png);
    background-size: cover;
}

.work {
    grid-column: span 2;
}

.d-none {
    display: none;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    padding: 3rem 2rem;
    width: 100%;
    height: 100vh;
    background: rgba(26, 29, 28, 0.2);
    z-index: 999;
    overflow: scroll;
    display: grid !important;
    text-align: center;
}

.projects-modal,
.highlights-modal {
    background: rgba(26, 29, 28, 0.2);
    margin: 8rem auto 0rem;
    display: inline-block;
    width: 100%;
    max-width: 180rem;
    height: fit-content;
    border-radius: 1.5rem;
    color: var(--color-light);
    position: relative;
}


.carousel-inner {
    border-radius: 1.6rem;
}

.carousel-item {
    height: 100rem;
    background: var(--color-light);
    color: white;
    position: relative;
    background-position: center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: cover;
}


.close-modal-btn {
    position: absolute !important;
    width: 10%;
    top: 5rem;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
}

.close-modal-btn button {
    background-color: transparent;
    border: 0.2rem solid var(--color-light);
    border-radius: 3.5rem;
    color: var(--color-light);
    padding: 0.3rem 2rem;
}

.close-modal-btn span {
    font-size: 5rem;
    font-weight: 200;
}

.carousel-indicators button {
    width: 1rem !important;
    height: 1rem !important;
    border-radius: 50%;
    border: 0.2rem solid var(--color-light) !important;
    background: none !important;
    opacity: 1 !important;
    margin-bottom: 4rem;
}

.carousel-indicators .active {
    background-color: var(--color-light) !important
}

.carousel-control-next,
.carousel-control-prev {
    width: 10%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 5rem;
    height: 5rem;
}

#background-video-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#background-video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.project-description-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 12%;
    bottom: 10%;
    z-index: 999;
    height: fit-content;
}

.project-description-container h1 {
    text-align: left;
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: 5.8rem;
    margin-bottom: 2rem;
    line-height: 83%;
    padding-right: 3rem;
}

.project-description-container p {
    text-align: left;
    font-family: var(--main-font);
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 150%;
    max-width: 50%;
    margin: 0;
    padding-right: 3rem;
}

.highlight-1 {
    background-image: url(./images/highlights/highlights-1.jpg);
}

.highlight-2 {
    background-image: url(./images/highlights/highlights-2.jpg);
}

.highlight-3 {
    background-image: url(./images/highlights/highlights-3.jpg)
}

.highlight-4 {
    background-image: url(./images/highlights/highlights-4.jpg)
}

.highlight-5 {
    background-image: url(./images/highlights/highlights-5.jpg)
}

.highlight-6 {
    background-image: url(./images/highlights/highlights-6.jpg)
}

.highlight-7 {
    background-image: url(./images/highlights/highlights-7.jpg)
}

.highlight-8 {
    background-image: url(./images/highlights/highlights-8.jpg)
}

.highlight-9 {
    background-image: url(./images/highlights/highlights-9.jpg)
}

.highlight-10 {
    background-image: url(./images/highlights/highlights-10.jpg)
}

.highlight-11 {
    background-image: url(./images/highlights/highlights-11.jpg)
}
.highlight-12 {
    background-image: url(./images/highlights/highlights-12.jpg)
}
.highlight-13 {
    background-image: url(./images/highlights/highlights-13.jpg)
}
.highlight-14 {
    background-image: url(./images/highlights/highlights-14.jpg)
}
.highlight-15 {
    background-image: url(./images/highlights/highlights-15.jpg)
}
.highlight-16 {
    background-image: url(./images/highlights/highlights-16.jpg)
}
.highlight-17 {
    background-image: url(./images/highlights/highlights-17.jpg)
}
.highlight-18 {
    background-image: url(./images/highlights/highlights-18.jpg)
}
.highlight-19 {
    background-image: url(./images/highlights/highlights-19.jpg)
}
.highlight-20 {
    background-image: url(./images/highlights/highlights-20.jpg)
}
.highlight-21 {
    background-image: url(./images/highlights/highlights-21.jpg)
}
.highlight-22 {
    background-image: url(./images/highlights/highlights-22.jpg)
}
.highlight-23 {
    background-image: url(./images/highlights/highlights-23.jpg)
}
.highlight-24 {
    background-image: url(./images/highlights/highlights-24.jpg)
}
.highlight-25 {
    background-image: url(./images/highlights/highlights-25.jpg)
}
.highlight-26 {
    background-image: url(./images/highlights/highlights-26.jpg)
}
.highlight-27 {
    background-image: url(./images/highlights/highlights-27.jpg)
}
.highlight-28 {
    background-image: url(./images/highlights/highlights-28.jpg)
}
.highlight-29 {
    background-image: url(./images/highlights/highlights-29.jpg)
}
.highlight-30 {
    background-image: url(./images/highlights/highlights-30.jpg)
}
.highlight-31 {
    background-image: url(./images/highlights/highlights-31.jpg)
}
.highlight-32 {
    background-image: url(./images/highlights/highlights-32.jpg)
}
.highlight-33 {
    background-image: url(./images/highlights/highlights-33.jpg)
}
.highlight-34 {
    background-image: url(./images/highlights/highlights-34.jpg)
}
.highlight-35 {
    background-image: url(./images/highlights/highlights-35.jpg)
}
.highlight-36 {
    background-image: url(./images/highlights/highlights-36.jpg)
}
.highlight-37 {
    background-image: url(./images/highlights/highlights-37.jpg)
}
.highlight-38 {
    background-image: url(./images/highlights/highlights-38.jpg)
}
.highlight-39 {
    background-image: url(./images/highlights/highlights-39.jpg)
}
.highlight-40 {
    background-image: url(./images/highlights/highlights-40.jpg)
}
.highlight-41 {
    background-image: url(./images/highlights/highlights-41.jpg)
}
.highlight-42 {
    background-image: url(./images/highlights/highlights-42.jpg)
}
.highlight-43 {
    background-image: url(./images/highlights/highlights-43.jpg)
}

footer {
    padding: 2.5rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 5.8rem;
}

footer a {
    line-height: 1rem;
    padding: 1.2rem 1.5rem;
    color: var(--color-light);
    border-radius: 2.5rem;
    color: var(--color-dark);
    transition: transform 0.3s;
}

footer a:hover,
footer a:active {
    background-color: var(--color-dark);
    color: var(--color-light);
    transform: scale(1.3);
    z-index: 998;
}


@media (max-width: 1440px) {
    html {
        font-size: 5.3px;
    }
}

@media (max-width: 760px) {
    html {
        font-size: 8px;
    }

    .main-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.35fr 1.35fr 1.5fr 0.5fr 1fr;
        gap: 2rem;
    }

    .info-block {
        grid-column: span 1;

    }

    .work.info-block {
        height: fit-content;
    }

    .work .info-block-btn-container {
        flex-direction: column;
        align-items: start;
    }

    .work .info-block-btn-container ul {
        margin-bottom: 8rem;
    }

    .work-explore-button-container {
        align-self: end;
    }

    #highlights-modal-container .carousel-item {
        background-size: auto 70%;
    }

    #highlights-modal-container .carousel-indicators {
        bottom: 6%;
    }

    .carousel-indicators button {
        border: 0.2rem solid var(--color-dark) !important;
    }

    .carousel-indicators .active {
        background-color: var(--color-dark) !important
    }

    .close-modal-btn {
        left: 3rem
    }

    .close-modal-btn button {
        border: 0.2rem solid var(--color-dark);
        color: var(--color-dark);
    }

    .close-modal-btn span {
        font-size: 3.5rem;
    }

    #projects-modal .carousel-item {
        height: 70vh
    }

    #projects-modal-container .carousel-control-prev,
    #projects-modal-container .carousel-control-next {
        top: 14rem;
    }

    #projects-modal-container .carousel-indicators {
        bottom: 10rem
    }

    .project-content-container {
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 15rem;
    }

    .project-description-container {
        padding: 0 4rem;
        color: var(--color-dark);
        position: initial;
    }

    span.defis {
        display: none;
    }

    span.project-subtitle {
        font-family: var(--main-font);
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 150%;
        line-height: 0;
    }

    .project-description-container p {
        max-width: 100%;
    }

    #background-video-container {
        position: initial;
        height: 70%;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 6.4px;
    }

    #background-video-container {
        position: initial;
        height: 60%;
    }

    #projects-modal-container .carousel-control-prev,
    #projects-modal-container .carousel-control-next {
        top: 22rem;
    }
}

@media (max-width: 380px) {
    html {
        font-size: 5px;
    }
}