:root {
    --heading-font: 'Outfit', sans-serif;
    --main-font: 'Inter', sans-serif;
    --color-background: #DDDDDD;
    --color-light: #FEFEFE;
    --color-dark: #1A1D1C;
}

html,
body {
    height: 100%;
}

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

/* div {

    border: 2px solid red;
} */

body {
    background-color: var(--color-background);
    color: var(--color-dark);
    font-family: var(--main-font);
    font-size: 2.2rem;
    font-weight: 400;

}

.page-container {
    /* height: 100%; */
    /* max-height: 100vh; */
    width: 100vw;
    max-width: 192rem;
    margin: 0 auto;
    padding: 0 6rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0;
}

.logo-image {
    width: 100%;
    max-width: 27.3rem;
    height: auto;
}

button {
    border-radius: 2.9rem;
    padding: 1.8rem 2.7rem;
    font-family: var(--heading-font);
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 2.25rem;
}

.btn-contact {
    background: var(--color-dark);
    border: none;
    color: var(--color-light)
}

.btn-info {
    background-color: transparent;
    border: 0.2rem solid var(--color-dark);
}

a.projects,
a.highlights {
    text-decoration: none;
}

.projects .btn-info {
    border: none;
}

.setups .btn-info {
    border-color: var(--color-light);
}

/* For rows 223px = 1fr */
.main-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    gap: 2rem;
}

.info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3.5rem;
    padding: 3rem;
}

.description:hover,
.projects:hover,
.setups:hover,
.catalog:hover,
.highlights:hover,
.work:hover {
    transform: scale(1.05);
    z-index: 998;
}

.info-block-white {
    background-color: var(--color-light)
}

.info-block-black {
    background-color: var(--color-dark)
}

.info-block-image {
    filter: grayscale(100%);
}

.info-block-image:hover {
    filter: grayscale(0%);
}

.header {
    font-family: var(--heading-font);
    font-size: 5.8rem;
    font-weight: 600;
    margin-bottom: 2rem;
    line-height: 83%;
}

.projects {
    background-image: url(./images/Rectangle\ 1.png);
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
}

.projects .lightning {
    height: 9.56rem;
}

.setups .header,
.highlights .header,
.projects .header {
    color: var(--color-light);
}

.description .info-block-btn-container,
.projects .info-block-btn-container,
.catalog .info-block-btn-container {
    text-align: end;
}

.setups .info-block-btn-container,
.work .info-block-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.setups-catalog-block.info-block {
    padding: 0;
}

.setups .info-block-btn-container img {
    max-height: 25.8rem;
}

.setups-catalog-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
    gap: 2rem;
}

.highlights {
    background-image: url(./images/Rectangle\ 5.png);
    background-size: cover;
}

.work {
    grid-column: span 2;
}

@media (max-width: 1440px) {
    html {
        font-size: 5.3px;
    }
}

@media (max-width: 760px) {
    html {
        font-size: 8px;
    }

    .main-section {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1.35fr 1.35fr 1.5fr 0.5fr 1fr;
        gap: 2rem;
    }

    .info-block {
        grid-column: span 2
    }

    .work.info-block {
        height: fit-content;
    }

    .work .info-block-btn-container {
        flex-direction: column;
        align-items: start;
    }

    .work .info-block-btn-container ul {
        margin-bottom: 8rem;
    }

    .work-explore-button-container {
        align-self: end;
    }
}

@media (max-width: 440px) {
    html {
        font-size: 6.4px;
    }
}

@media (max-width: 380px) {
    html {
        font-size: 5px;
    }
}